body {
	font-family: 'Roboto', sans-serif;
	background: $primary_color;
	font-size: 1em;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1440px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: bold;
	background-color: $secondary_color;
	color: #fff;
	padding: $primary_padding / 2;
	margin-bottom: $primary_padding;
}

a {
	color: inherit;

	&:hover {
		text-decoration: none;
	}
}

.main {
	background: #fff;
	padding: $primary_padding;

	.seperator {
		width: 100%;
		height: 0.5em;
		margin: $primary_padding 0;
		background: $primary_color;
	}

	header {
		h1 {
			font-size: 2em;
			margin-bottom: 0;
			background: none;
			color: inherit;
		}

		.right {
			text-align: right;
			font-size: 1.5em;

			@media only screen and (max-width: 495px) {
				display: none;
			}
		}

		.col-3 {
			@media only screen and (max-width: 495px) {
				text-align: center;
			}
		}
	}

	.main-content {
		h2 {
			font-size: 1.2em;
		}

		.table-wrapper {
			overflow-x: auto;
		}

		table {
			width: 100%;
			margin: $primary_padding / 2 0;

			tr {
				td {
					padding: $primary_padding / 1.5;
					border-bottom: 0.1em solid lightgray;
				}

				&:last-of-type {
					td {
						border: none;
					}
				}
			}

			.error {
				&>td {
					background-color: #ffcccb;
				}

				&>.last_seen {
					font-weight: bold;
				}
			}

			thead,
			tfoot {
				tr {
					td {
						border-bottom: 0.1em solid lightgray;
					}

					&:last-of-type {
						td {
							border-bottom: 0.1em solid lightgray;
						}
					}
				}
			}

			tfoot {
				tr {
					td {
						border-top: 0.1em solid lightgray;
					}

					&:last-of-type {
						td {
							border-top: 0.1em solid lightgray;
						}
					}
				}
			}

			thead {
				font-weight: bold;
			}

			.delete {
				text-decoration: none;
				font-weight: bold;
			}
		}
	}
}

.main-footer {
	color: #000;
	text-align: center;
	margin: $primary_padding 0;
	padding: $primary_padding;
	background: #fff;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.7);

	.modal-content {
	    background-color: #fefefe;
	    margin: 4em auto;
	    padding: 20px;
	    border: 1px solid #888;
	    width: 80%;
	}
}

.inline-image {
	height: 1em;
}

#dump {
	display: none;
}

.loading {
	display: none;
}
