html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	box-sizing: border-box;
}

.row {
	margin: 0 -$primary_padding/2;

	&:before,
	&:after {
		content: '';
		display: block;
		clear: both;
	}

	.col-6,
	.col-5,
	.col-4,
	.col-3,
	.col-2,
	.col-1 {
		padding: $primary_padding/2;
		float: left;

		&.no-padding {
			padding: 0;
		}
	}

	.col-6 {
		width: calc(100%/1);
	}

	.col-5 {
		width: calc(100% - 100%/6);
	}

	.col-4 {
		width: calc(100% - 100%/3);
	}

	.col-3 {
		width: calc(100%/2);

		@media only screen and (max-width: $media_max_width_3) {
			float: none;
			width: 100%;
		}
	}

	.col-2 {
		width: calc(100%/3);

		@media only screen and (max-width: $media_max_width_2) {
			float: none;
			width: 100%;
		}
	}

	.col-1 {
		width: calc(100%/6);
	}
}
