html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

.row {
  margin: -0.5em; }
  .row:before, .row:after {
    content: '';
    display: block;
    clear: both; }
  .row .col-6,
  .row .col-5,
  .row .col-4,
  .row .col-3,
  .row .col-2,
  .row .col-1 {
    padding: 0.5em;
    float: left; }
    .row .col-6.no-padding,
    .row .col-5.no-padding,
    .row .col-4.no-padding,
    .row .col-3.no-padding,
    .row .col-2.no-padding,
    .row .col-1.no-padding {
      padding: 0; }
  .row .col-6 {
    width: calc(100%/1); }
  .row .col-5 {
    width: calc(100% - 100%/6); }
  .row .col-4 {
    width: calc(100% - 100%/3); }
  .row .col-3 {
    width: calc(100%/2); }
    @media only screen and (max-width: 495px) {
      .row .col-3 {
        float: none;
        width: 100%; } }
  .row .col-2 {
    width: calc(100%/3); }
    @media only screen and (max-width: 650px) {
      .row .col-2 {
        float: none;
        width: 100%; } }
  .row .col-1 {
    width: calc(100%/6); }

body {
  font-family: 'Roboto', sans-serif;
  background: #2c3e50;
  font-size: 1em; }

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1440px; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  background-color: #d24d57;
  color: #fff;
  padding: 0.5em;
  margin-bottom: 1em; }

a {
  color: inherit; }
  a:hover {
    text-decoration: none; }

.main {
  background: #fff;
  padding: 1em; }
  .main .seperator {
    width: 100%;
    height: 0.5em;
    margin: 1em 0;
    background: #2c3e50; }
  .main header h1 {
    font-size: 2em;
    margin-bottom: 0;
    background: none;
    color: inherit; }
  .main header .right {
    text-align: right;
    font-size: 1.5em; }
    @media only screen and (max-width: 495px) {
      .main header .right {
        display: none; } }
  @media only screen and (max-width: 495px) {
    .main header .col-3 {
      text-align: center; } }
  .main .main-content h2 {
    font-size: 1.2em; }
  .main .main-content .table-wrapper {
    overflow-x: auto; }
  .main .main-content table {
    width: 100%;
    margin: 0.5em 0; }
    .main .main-content table tr td {
      padding: 0.66667em;
      border-bottom: 0.1em solid lightgray; }
    .main .main-content table tr:last-of-type td {
      border: none; }
    .main .main-content table .error > td {
      background-color: #ffcccb; }
    .main .main-content table .error > .last_seen {
      font-weight: bold; }
    .main .main-content table thead tr td,
    .main .main-content table tfoot tr td {
      border-bottom: 0.1em solid lightgray; }
    .main .main-content table thead tr:last-of-type td,
    .main .main-content table tfoot tr:last-of-type td {
      border-bottom: 0.1em solid lightgray; }
    .main .main-content table tfoot tr td {
      border-top: 0.1em solid lightgray; }
    .main .main-content table tfoot tr:last-of-type td {
      border-top: 0.1em solid lightgray; }
    .main .main-content table thead {
      font-weight: bold; }
    .main .main-content table .delete {
      text-decoration: none;
      font-weight: bold; }

.main-footer {
  color: #000;
  text-align: center;
  margin: 1em 0;
  padding: 1em;
  background: #fff; }

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7); }
  .modal .modal-content {
    background-color: #fefefe;
    margin: 4em auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; }

.inline-image {
  height: 1em; }

#dump {
  display: none; }

.loading {
  display: none; }

/*# sourceMappingURL=app.css.map */
